{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <p>
        <div class="text-{{ cat }} bg-{{ cat }} alert container">{{ msg }}</div>
    {% endfor %}
    <div class="container-fluid text-center">
        <form action="{{ url_for('add_post') }}" method="post" class="form">
            <p>{{ form.hidden_tag() }}</p>
            {% for field in form if field.name not in('csrf_token', 'submit') %}
                <p>
                    {{ field.label() }} {{ field() }}
                    {% if field.errors %}
                        {% for err in field.errors %}
                            <span class="text-danger bg-danger alert">{{ err }}</span>
                        {% endfor %}
                    {% endif %}
                </p>
            {% endfor %}
            <p>{{ form.submit() }}</p>
        </form>

    </div>
{% endblock %}