<!DOCTYPE html>
<html lang="en">

{% extends 'bootstrap/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-static-top" style="background-color: crimson">
            <ul style="list-style-type: none; display: flex; justify-content: space-between">
                {% for link, i in links.items() %}
                    <li class="navbar-text">
                        <a style="font-family: Comic Sans MS,serif;
                        color: chartreuse;
                        font-size: large;
                        text-decoration: None"
                           href="{{ link }}">{{ i }}</a>
                    </li>
                {% endfor %}
            </ul>
    </nav>
{% endblock %}

{% block content %}

{% endblock %}
</body>
</html>