{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <p>
        <div class="text-{{ cat }} bg-{{ cat }} alert container">{{ msg }}</div></p>
    {% endfor %}
    <div class="container-fluid">
        <form action="" method="post" class="form-group">
            <p><label>E-mail :</label> <input type="text" name="e-mail"/>
            <p><label>Пароль :</label> <input type="password" name="password"/>
            <p><input type="checkbox" name="remember" > Запомнить</p>
            <p><input type="submit" value="Отправить"/>
            <p><a href="{{ url_for('register_page') }}">Регистрация</a>
        </form>
    </div>

{% endblock %}