{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    {% if posts %}
        <ul class="container-fluid text-center">
            <h2>Cписок статей</h2>
            {% for post in posts %}
                <li class=" bg-warning table-bordered text-justify" style="margin:1% 10%; list-style-type: none;">
                    <h3 class=" link-title"><a href="{{ url_for('post_page', alias=post.url ) }}">{{ post.title }}</a>
                    </h3>
                    {% if post.post|length > 50 %}
                        <p class="announce">{{ post.post[:50]|striptags + '...' }}</p>
                    {% else %}
                        <p class="announce">{{ post.post|striptags }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}