{% extends 'base.html' %}
{% block content %}
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="text-{{ cat }} bg-{{ cat }} alert container">{{ msg }}</div>
    {% endfor %}
    <div class="container-fluid text-center">
        <form action="/register" method="post" class="form-group">
            {# form with cicle #}
            <p>{{ form.hidden_tag() }}</p>
            {% for field in form if field.name not in('csrf_token', 'submit') %}
                <p>
                    {{ field.label() }} {{ field() }}
                    {% if field.errors %}
                        {% for err in field.errors %}
                            <span class="text-danger bg-danger alert">{{ err }}</span>
                        {% endfor %}
                    {% endif %}
                </p>
            {% endfor %}
            <p>{{ form.submit() }}</p>
            <hr width="300">
            <p><a href="{{ url_for('login_page') }}">Войти</a>
        </form>
    </div>

{% endblock %}