{% extends 'bootstrap/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {% if title %}
                {{ title }}
            {% endif %}
        {% endblock %}
    </title>
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-static-top" style="background-color: #1471dc">
        <ul style="list-style-type: none; display: flex; justify-content: space-between">
            {% for url, title in menu.items() %}
                <li class="navbar-text">
                    <a style="font-family: Comic Sans MS,serif;
                        color: #ffcc00;
                        font-size: large;
                        text-decoration: None"
                       href="{{ url }}">{{ title }}</a>
                </li>
            {% endfor %}
                <li class="navbar-text">
                    <a style="font-family: Comic Sans MS,serif;
                        color: #ffcc00;
                        font-size: large;
                        text-decoration: None"
                       href="{{ url_for('main_page') }}">Блог</a>
                </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>